.hero-container {
  display: flex;
  background-color: #495e57;
  height: 250px;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 25px;
  color: #f4ce14;
}

h2 {
}

p {
  color: white;
}
