* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-item {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}
