* {
  margin: 0;
  padding: 0;
}

.footer-container {
  color: white;
  background-color: #495e57;
  width: 800px;
  margin: 0 auto;
  /* padding: 3em;
  position: relative;
  bottom: 0;
  width: 100%; */
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
